body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0a0a23;
  color: #ffffff;
}

.portfolio-container {
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191940;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1270px; /* Set a max width */
  margin: 0 auto; /* Center the section horizontally */

}

.header-info {
  text-align: center;
}

.header-info h1 {
  color: #ffffff;
  font-size: 2.5em;
}

.header-info p {
  color: #ffffff;
  font-size: 1.2em;
}

.header-contact {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between icons */
  margin-top: 15px;
}

.header-contact a {
  color: #1e90ff;
  font-size: 2em;
  text-decoration: none;
}

.header-contact a:hover {
  color: #ffdd57;
}

.about {
  margin-bottom: 30px;
  max-width: 800px; /* Set a max width */
  margin: 0 auto; /* Center the section horizontally */
  padding: 20px; /* Add padding inside the section */
  text-align: center; /* Center the text */
}

.about h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 20px;
}

.about p {
  color: #bbbbbb;
  font-size: 1.1em;
  line-height: 1.5; /* Improve readability by adjusting line height */
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.project-card {
  background-color: #111133;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h3 {
  color: #ffffff;
}

.project-card p {
  color: #dddddd;
}

.project-card a {
  color: #1e90ff;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  color: #bbbbbb;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .header-info h1 {
    font-size: 2em; /* Smaller header on mobile */
  }

  .header-info p {
    font-size: 1em;
  }

  .header-contact {
    gap: 10px; /* Reduce the gap on smaller screens */
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%; /* Cards will take more width on smaller screens */
    margin-bottom: 20px;
  }
  .about {
    max-width: 90%; /* Allow it to take more space on smaller screens */
    padding: 15px; /* Reduce padding on smaller screens */
  }

  .about h2 {
    font-size: 1.8em; /* Adjust heading size for smaller screens */
  }

  .about p {
    font-size: 1em; /* Adjust paragraph size for smaller screens */
  }

}

@media (max-width: 480px) {
  .header-info h1 {
    font-size: 1.6em; /* Further reduce size for smaller screens */
  }

  .header-info p {
    font-size: 0.9em;
  }

  .header-contact a {
    font-size: 1.5em; /* Adjust icon size on very small screens */
  }

  .project-card {
    width: 100%; /* Project cards take full width on very small screens */
  }
}
